
  pre{
      color:rgb(94, 92, 89);
  }
  #header{
    color:whitesmoke;
    font-weight: bolder;
    font-size: 22px;
    background: linear-gradient(-45deg, #31a1ce, #bfd6e6, #13d6f8, #03b9b0);
    text-align: center;
    padding: 10px;
    animation: gradient 15s ease infinite;
    
  }

  #form{
    padding: 10px;
    background-color: rgba(180, 223, 226, 0.747);
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    box-shadow: 1px 1px lightgrey;
  }
  .row{
    padding: 10px;
    font-family:sans-serif ;
    font-size: 18px;
  }
  input[type=text]{
    width:40%;
    padding: 2px;
    font-size: 16px;
  }
  
  input[type=button]{
    box-shadow:inset 0px -3px 7px 0px #fcfeff;
      background-color:#2dabf9;
      border-radius:3px;
      border:1px solid #0b0e07;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:17px;
      padding:6px 25px;
      margin-left: 2%;
      text-shadow:0px 1px 0px #263666;

  }
  
  input[type=button]:hover {
      background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
      background-color:#0688fa;
  }
  input[type=button]:active {
      position:relative;
      top:1px;
  }
  
  hr {
    border-top: 0px solid grey;
  }
  
  footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    background-color: rgb(72, 204, 228);
    text-align: center;
    color: black;
  }
  .foot{
    float: right;
  }
  a{
    text-decoration: none;
    color: red;
  }
  img{
    height: 30px;
    width: 60px;;
  }
  body{
    padding:0;
    margin:0;
    font-family:Verdana;
    
    
  }
  #top{
      
    position: sticky;
    top:0;
  }